.blender {
  height: 3rem;
  width: 3rem;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  transition: transform 0.7s ease-out;

  position: fixed;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.active {
  transform: scale(100);
}

.blend-toggle {
  cursor: pointer;
  position: fixed;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  z-index: 1;
  opacity: 0.7;
}

.toggleButton {
  background: black;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.toggleButtonDisabled {
  cursor: not-allowed;
}
.lightToggleIcon {
  color: #fff;
}
.darkToggleIcon {
  color: #fff;
}
